<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lyl.wanandroid">

    <!-- permission begin -->

    <!--    权限放在application之前， 否则会有警告-->
    <!--    java.lang.SecurityException: Permission denied (missing INTERNET permission?) 解决-->
    <!--    Android app里试图用HttpUrlConnection获取网络连接,忘记在AndroidManifest清单文件里声明需要用到Internet的权限，运行时报此错误。-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- permission end -->


    <!--
        application的allowBackup属性要置false，关闭应用程序的备份和恢复功能，以免造成信息泄露和财产损失
        https://blog.csdn.net/mysimplelove/article/details/84073013
    -->
    <application
        android:name=".app.BaseApplication"
        android:allowBackup="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
    <!--
        https://blog.csdn.net/qq_33721320/article/details/84400825
        ERR_CLEARTEXT_NOT_PERMITTED
        从Android 9.0（API级别28）开始，默认情况下禁用明文支持。因此http的url均无法在webView中加载
        android:usesCleartextTraffic="true"
    -->
        <activity
            android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.SettingActivity"/>
        <activity android:name=".ui.activity.LoginActivity"/>
        <activity android:name=".ui.activity.WebActivity"/>
        <activity android:name=".ui.activity.ArticleListActivity"/>
        <activity android:name=".ui.activity.SearchActivity"/>
    </application>


</manifest>